<body>
<h1>Personal finance</h1>

<div class="row">
  <h2>Your accounts:</h2>
  <accounts-list [accounts]="_accounts" (delete)="removeAcc($event)"></accounts-list>
</div>

<div class="row col-md-6">
  <form class="col-md-6">
    <h3>Create account:</h3> 
    <div class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" id="title" type="text" name="title" value="Bank title" #title>
    </div>

    <div class="form-group">
      <label for="desc">Description:</label>
      <input class="form-control" id="desc" type="text" name="desc" value="Bank account description" #desc>
    </div>

    <div class="form-group">
      <label for="bal">Balance:</label>
      <input class="form-control" id="bal" type="text" name="bal" value="0.00" #balance>
    </div>

    <div>
      <button class="btn btn-success" (click)="createAcc(title,desc,balance)">Create</button>
    </div>
  </form>
</div>
</body>